<h4>Daftar Mahasiswa</h4>
<% if (mahasiswa.length < 1) { %>
    <h4>Data mahasiswa masih kosong</h4>
<% } else { %>
    <% mahasiswa.forEach(mhs => { %>
        <ul>
            <li>Nama: <%= mhs.nama %></li>
            <li>Email: <%= mhs.email %></li>
        </ul>
    <% }) %>
<% } %>